.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0.8em;
  border: 1px solid #facf5a;
  padding: 0.8em;
  margin: 0 0 2em;
}

.wrapper > div {
  overflow: auto;
  min-width: 0;
  padding: 1em;
}

.canvas {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
}
