body {
	background-color: lightseagreen;
}

.container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

main h1 {
	font-size: 1.2em;
}

footer {
	padding: 1em;
	color: lavenderblush;
}

h2 {
	padding: 0.1em 0.5em;
	color: #ffffff;
	font-size: 1.2em;
}

h3 {
	padding: 0.1em 0.5em;
	color: #ffffff;
	font-size: 1em;
}

h4 {
	padding: 0.1em 0.5em;
	color: #ffffff;
	font-size: 1em;
}

a:visited {
	color: #ffff32;
}

.kakomi {
	padding: 0 1em 0.7em;
	margin: 0.5em;
	border: #dff6f0 solid 0.01em;
}

p {
	font-size: 0.9em;
	padding-left: 1.5em;
}

ul {
	font-size: 0.8em;
}
