body {
	/* margin: 0; */
	background-color: lightslategray;
	font-family: "M PLUS Rounded 1c", sans-serif;
	color: lavenderblush;
	display: grid;
	grid-template:
		"header header header" 100px
		"nav main aside" 1fr
		"footer footer footer" 100px
		/ 150px 1fr 180px;
}

header {
	grid-area: header;
}

nav {
	grid-area: nav;
	/* outline: solid 1px white; */
}

nav li :hover {
	color: lightgoldenrodyellow;
}

main {
	grid-area: main;
	/* outline: solid 1px white; */
}

aside {
	grid-area: aside;
	/* outline: solid 1px white; */
}

footer {
	grid-area: footer;
}
