    body {
      margin: 0;
      padding: 0;
      background-color: #19B2FF;
      font-family: 'Bellota Text', cursive;
      font-family: 'Quicksand', sans-serif;
    }
    
    header {
      background-color: #19B2FF;
      color: aliceblue;
      padding: 0 1em;
    }
  

    main{
      /* background-color: aliceblue; */
      padding: 1em;
    }

    footer{
      /* background-color: darkgreen; */
      padding: 1em;
    }

    h2 {
      background-color: #19B2FF;
      padding: 0.1em 0.5em;
      color: #ffffff;
      font-size: 1.2em;
    }

    h3 {
      background-color: #19B2FF;
      padding: 0.1em 0.5em;
      color: #ffffff;
      font-size: 1em;
    }

    a:visited{
      color: #FFFF32;
    }
