body {
	margin: 0;
	padding: 0;
	background-color: #f783a0;
	/* background-color: #ed225d; */
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 16px;
}

header {
	color: #ed225d;
	padding: 0 1em;
}

main {
	padding: 1em;
	color: #ed225d;
}

main div blockquote {
	font-family: "Noto Serif JP", serif;
	color: #ed225d;
}

footer {
	padding: 1em;
	color: #ed225d;
}

h2 {
	padding: 0.1em 0.5em;
	color: #ed225d;
	font-size: 1.2em;
}

h3 {
	background-color: #19b2ff;
	padding: 0.1em 0.5em;
	color: #ed225d;
	font-size: 1em;
}

h4 {
	background-color: #19b2ff;
	padding: 0.1em 0.5em;
	color: #ffffff;
	font-size: 1em;
}

a:visited {
	color: #ffff32;
}

.kakomi {
	padding: 0 1em 0.7em;
	margin: 0.5em;
	border: #dff6f0 solid 0.01em;
}

p {
	font-size: 0.9em;
	padding-left: 1.5em;
}

ul {
	font-size: 0.8em;
}
