body {
	background-color: lightslategray;
}

h2 {
	font-size: 0.9rem;
}

.container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

/* .main_header {
	text-align: center;
	background-color: teal;
}

.main_items {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
} */
