body {
	background-color: lightslategray;
}

.main_header {
	text-align: center;
	background-color: teal;
}

.main_items {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}
