<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>note</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/cssgrid.css" />
  </head>
  <body>
    <header>
      <h1>Template - Color</h1>
      <nav class="head-navi">
        <ul>
          <li><a href="../index.html">home</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="wrapper">
        <h2>color set 01</h2>
        <div class="color_set1_red">red</div>
        <div class="color_set1_yellow">yellow</div>
        <div class="color_set1_green">green</div>
        <div class="color_set1_deepgreen">deepgreen</div>
        <div class="color_set1_honeydew">honeydrew</div>
      </section>
      <section class="wrapper">
        <h2>color set 02</h2>
        <div class="color_set2_black">black</div>
        <div class="color_set2_white">white</div>
        <div class="color_set2_green">green</div>
        <div class="color_set2_red">red</div>
        <div class="color_set2_yellow">yellow</div>
      </section>
      <div id="canvas"></div>
    </main>
    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
    <script src="../p5/template.js"></script>
  </body>
</html>
