<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>note</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/cssgrid.css" />
  </head>
  <body>
    <header>
      <h1>Template</h1>
      <nav class="head-navi">
        <ul>
          <li>
            <a href="../index.html">home</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="wrapper">
        <div>
          <p><a href="color.html">color</a></p>
        </div>
        <div>
          <p><a href="#.html">layout</a></p>
        </div>
        <div>
          <p><a href="#.html">grid</a></p>
        </div>
      </section>
      <div id="canvas"></div>
    </main>
    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
    <script src="../p5/template.js"></script>
  </body>
</html>
