body {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	background-color: lightskyblue;
}

nav {
	float: right;
}

nav li :hover {
	color: lightgoldenrodyellow;
}

main ul {
	margin-top: 0;
}

main li {
	font-size: small;
}

h1 {
	font-size: small;
}

h2 {
	font-size: small;
}

.container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

canvas {
	border: 1px solid black;
}
