body {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	background-color: lightskyblue;
}

header {
	grid-area: header;
}

nav {
	float: right;
}

nav li :hover {
	color: lightgoldenrodyellow;
}

h1 {
	font-size: small;
}

h2 {
	font-size: medium;
}

.container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}
